[Unit]
Description=내가 독립군이라고?
Documentation=https://github.com/suzukaotto/2024_ngdrgirg
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/sudo /bin/bash /home/szkot/2024_ngdrgirg/stater.sh
Restart=on-failure
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
