{% extends "base.html" %}

{% block content %}
<style>
    .compare-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        position: relative;
    }

    .image-container {
        flex: 1;
        text-align: center;
    }

    .image-container img {
        width: 50%; /* Set the desired width */
        height: 100%; /* Maintain aspect ratio */
    }

    .leaderboard-container {
        flex: 1;
        padding: 20px;
    }

    .leaderboard {
        list-style: none;
        padding: 0;
    }

    .leaderboard li {
        background: #f8f9fa;
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .center-text {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        font-weight: bold;
    }
</style>

<div class="container compare-container" style="margin-top: 5%;">
    <div class="center-text" style="font-size: 3rem;">
        비교 결과<br>
        <span style="font-size: 1rem;">당신과 닮은 독립운동가이십니다.</span>
    </div>
    <div class="image-container">
        <img src="/face/your/{{ yourface_id }}" alt="Image 1" class="img-fluid" onerror="this.onerror=null;this.src='/static/images/default_image.png';">
        <p style="font-size: 1.6rem; font-family: sans-serif;">당신의 얼굴</p>
    </div>
    <div class="image-container">
        <img src="/face/army/{{ army_infos[0]['image'] }}" alt="Image 2" class="img-fluid" onerror="this.onerror=null;this.src='/static/images/default_image.png';">
        <p style="font-size: 1.6rem; font-family: sans-serif;">{{ army_infos[0]['name'] }}</p>
    </div>
    <div class="leaderboard-container">
        <h3>닮은 순위 TOP5</h3>
        <ul class="leaderboard">
            <li>1. <span style="font-family: sans-serif;">{{ army_infos[0]['name'] }}</span>&nbsp;{{ army_infos[0]['distance'] }}&#37;&nbsp;<a href="https://search.i815.or.kr/dictionary/detail.do?searchWord=&reSearchWord=&index=1&id={{ army_infos[0]['id'] }}" class="btn-sm btn-primary" target="_blank">자세히 보기</a></li>
            <li>2. <span style="font-family: sans-serif;">{{ army_infos[1]['name'] }}</span>&nbsp;{{ army_infos[1]['distance'] }}&#37;&nbsp;<a href="https://search.i815.or.kr/dictionary/detail.do?searchWord=&reSearchWord=&index=1&id={{ army_infos[1]['id'] }}" class="btn-sm btn-primary" target="_blank">자세히 보기</a></li>
            <li>3. <span style="font-family: sans-serif;">{{ army_infos[2]['name'] }}</span>&nbsp;{{ army_infos[2]['distance'] }}&#37;&nbsp;<a href="https://search.i815.or.kr/dictionary/detail.do?searchWord=&reSearchWord=&index=1&id={{ army_infos[2]['id'] }}" class="btn-sm btn-primary" target="_blank">자세히 보기</a></li>
            <li>4. <span style="font-family: sans-serif;">{{ army_infos[3]['name'] }}</span>&nbsp;{{ army_infos[3]['distance'] }}&#37;&nbsp;<a href="https://search.i815.or.kr/dictionary/detail.do?searchWord=&reSearchWord=&index=1&id={{ army_infos[3]['id'] }}" class="btn-sm btn-primary" target="_blank">자세히 보기</a></li>
            <li>5. <span style="font-family: sans-serif;">{{ army_infos[4]['name'] }}</span>&nbsp;{{ army_infos[4]['distance'] }}&#37;&nbsp;<a href="https://search.i815.or.kr/dictionary/detail.do?searchWord=&reSearchWord=&index=1&id={{ army_infos[4]['id'] }}" class="btn-sm btn-primary" target="_blank">자세히 보기</a></li>
        </ul>
        <p> * 자신의 얼굴은 최초 1회 열람 후 삭제됩니다.</p>
        <a href="/">홈으로</a>
    </div>
</div>
{% endblock %}